@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
    text-align: center;
    font-family: 'Alata', sans-serif;
}

:root{
    --yellow: #FCD34D;
    --brown: rgb(121, 11, 11);
}

.header{
    background-color: var(--yellow);
    padding: 1rem 2rem;
}

#heading{
    color: var(--brown);
}

.btn-trans{
    color: var(--brown);
    background-color: var(--yellow);
    padding: 1rem 2rem;
    font-size: large;
    border-color: var(--yellow);
    border-radius: 0.3rem;
}

.in-txt-area, .out-txt-area{
    display: block;
    padding: 1rem;
    width: 500px;
    height: 150px;
    margin: 1rem;
}